<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title></title>
</head>
<body>
<table>
    <tr>
        <td><a th:text="${chat}"></a></td>
    </tr>
</table>
<table>
    <tr th:each="message : ${messages}">
<!--        <td><a th:text="${message.username}"></a></td>-->
        <td><a th:text="${message.date}"></a>: </td>
        <td><a th:text="${message.text}"></a></td>
    </tr>
</table>

<!--<form th:action="@{/chat}" th:object="${message}" method="post">-->
<!--    <table>-->
<!--        <tr>-->
<!--            <td>Имя:</td>-->
<!--            <td><input type="text" th:field="*{text}"/></td>-->
<!--            <td><input type="hidden" name="_csrf" value="${_csrf.token}"/></td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td>-->
<!--                <button type="submit">Подтвердить</button>-->
<!--            </td>-->
<!--        </tr>-->
<!--    </table>-->
<!--</form>-->

<form action="#" th:action="@{/chat(chat_id=${id})}" th:object="${message}" method="post" enctype="multipart/form-data">
    <table>
        <tr>
            <td>Сообщение:</td>
            <td><input type="text" name="text"/></td>
            <td><input type="file" name="file"/></td>
            <td><input type="hidden" name="_csrf" value="${_csrf.token}"/></td>
            <td><input type="hidden" name="chat_id" value="${chat_id}"/></td>
        </tr>
        <tr>
            <td>
                <button type="submit">Подтвердить</button>
            </td>
        </tr>
    </table>
</form>
</body>
</html>