<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Привет Мир!</title>
</head>
<body>
<h1 th:inline="text">Привет, [[${#httpServletRequest.remoteUser}]]!</h1>
<a href="/createChat">Создать чат</a>
<a href="/changeProfile">Изменить профиль</a>
<table>
    <tr th:each="chat : ${chats}">
<!--        "http://localhost:8080/gtvg/order/details(orderId=${o.id})}-->
        <td><a th:href="@{chat(chat_id=${chat.id})}" th:text="${chat.name}"></a></td>
    </tr>
</table>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Выйти"/>
</form>
</body>
</html>