<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Проект</title>
</head>
<body>
<h1>Добро пожаловать!</h1>

<p>Нажмите <a th:href="@{/hello}">сюда</a> для дальнейшей работы.</p>
</body>
</html>